.active {
  background: #ea3367 !important;
  color: #ffffff !important; }

html {
  overflow: hidden; }

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #190e4d;
  font-family: "Open Sans", sans-serif;
  position: relative; }

header {
  height: 10vh;
  width: 100%; }
  header #category {
    margin-top: 50px;
    color: #fce5eb;
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
    font-family: "Open Sans", sans-serif; }
  header #progbar {
    letter-spacing: 0.5rem;
    color: #fce5eb;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    header #progbar span {
      display: flex !important; }

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90vh;
  display: flex; }
  main #questions {
    margin: 100px 0px 100px 0px;
    height: 100px;
    text-align: center; }
    main #questions .question {
      color: #fce5eb;
      font-size: 1.5rem; }
  main #answer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap; }

button {
  margin: 10px 0px 10px 0px;
  font-size: 1rem;
  font-weight: 700;
  width: 80vw !important;
  font-family: "Open Sans", sans-serif;
  border: none;
  height: 60px;
  border-radius: 50px;
  background: #fff; }
  button:hover {
    background: #ea3367;
    color: #fce5eb;
    cursor: pointer; }

#end {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #190e4d;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #end h1 {
    text-align: center;
    color: #fce5eb; }
  #end #svg {
    width: 100%; }
  #end #data {
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    color: #fce5eb; }
    #end #data #q {
      display: flex; }
      #end #data #q #trueq {
        margin: 0px 10px 0px 10px; }
      #end #data #q #falseq {
        margin: 0px 10px 0px 10px; }
    #end #data #percent {
      text-align: center; }

#startscreen {
  transition: none;
  display: block;
  width: 100%;
  height: 100vh;
  justify-content: center;
  position: absolute;
  left: 0px;
  right: 0x;
  bottom: 0px;
  top: 0px;
  background: #190e4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fce5eb; }
  #startscreen h1 {
    width: 80%;
    text-align: center;
    margin: 10px 0px 150px 0px; }
  #startscreen section {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1.5rem; }
    #startscreen section button {
      margin-top: 20px; }
    #startscreen section label {
      margin: 20px 0px 20px 0px; }
    #startscreen section select {
      color: #fce5eb;
      margin: 50px 0px 50px 0px;
      text-align: center;
      width: 100%;
      height: 50px;
      font-size: 100%;
      font-weight: bold;
      cursor: pointer;
      border-radius: 0;
      background-color: #190e4d;
      border: none;
      border-bottom: 2px solid #545454;
      color: white;
      appearance: none;
      padding: 10px;
      padding-right: 38px;
      -webkit-appearance: none;
      -moz-appearance: none;
      transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease; }

/*# sourceMappingURL=style.css.map */
